--find-links=https://girder.github.io/large_image_wheels GDAL
geemap
earthengine-api==0.1.322
geopandas
folium
jupyter-server-proxy
keplergl
leafmap
streamlit-folium
localtileserver
nbserverproxy
streamlit
streamlit-option-menu